<p>
  <mat-toolbar color="primary" class="header-container">
    <span class="header-title">Bowlers Anonymous</span>
    <span class="bowling-ball-container"><img id="bowling-ball-header" src="assets/bowling-ball.png" alt="Bowling Ball"></span>
    <button class="menu-container" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <app-leaderboard></app-leaderboard>
    </mat-grid-tile>
  </mat-grid-list>
</p>
