#bowling-ball-header {
}

.header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  gap: 10px;
}
.header-title {
  flex-grow: 0;
}

.bowling-ball-container {
  flex-grow: 1;
}

.menu-container {}
